ualr_email_automation/blueprints/UALR_Complete_6_Additional_Majors.json
{
  "note": "Add these 6 additional routes to the router module (module id 2) in your blueprint. Each route contains an email module and an update sheet module.",
  "additional_routes": [
    {
      "route_name": "Business Information Systems",
      "flow": [
        {
          "id": 5,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "Business Information Systems Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "Business Information Systems",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - Business Information Systems</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>Business Information Systems program</strong> with you.</p>\n        <div class=\"major-badge\">Business Information Systems</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose BIS at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>Technical Mastery:</strong> Database systems, programming, systems design</li>\n                <li><strong>High Demand:</strong> 377,500 job openings annually</li>\n                <li><strong>Expert Faculty:</strong> Seasoned IT professionals</li>\n                <li><strong>Hands-On Learning:</strong> Real-world IT projects</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">377,500</span>\n                <div class=\"stat-label\">Annual Jobs</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$59K-$136K</span>\n                <div class=\"stat-label\">Salary Range</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>AACSB Accredited</strong> (top 5% worldwide) | <strong>Flexible Learning</strong> (on-campus or online) | <strong>Real-World Experience</strong></p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/business-information-systems/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - Business Information Systems Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 0
            }
          }
        },
        {
          "id": 13,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 0
            }
          }
        }
      ]
    },
    {
      "route_name": "Economics",
      "flow": [
        {
          "id": 6,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "Economics Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "Economics",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - Economics</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>Economics program</strong> with you.</p>\n        <div class=\"major-badge\">Economics</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose Economics at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>Analytical Skills:</strong> Sharpen logic & statistical analysis</li>\n                <li><strong>Law School Edge:</strong> Excel in LSAT preparation</li>\n                <li><strong>Research Opportunities:</strong> Work with local businesses & nonprofits</li>\n                <li><strong>Flexible Double Major:</strong> Pairs with finance, politics, math</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$3,500</span>\n                <div class=\"stat-label\">Per Semester</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$200K+</span>\n                <div class=\"stat-label\">Scholarships</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>Career Paths:</strong> Finance, Government, Public Policy, Data Science, Machine Learning, Law School, Graduate Studies</p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/economics/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - Economics Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 150
            }
          }
        },
        {
          "id": 14,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 150
            }
          }
        }
      ]
    },
    {
      "route_name": "Finance",
      "flow": [
        {
          "id": 7,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "Finance Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "Finance",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - Finance</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>Finance program</strong> with you.</p>\n        <div class=\"major-badge\">Finance</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose Finance at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>Choose Your Path:</strong> Corporate, Real Estate, or Financial Services</li>\n                <li><strong>CFA Preparation:</strong> Ready for CFA Level I exam</li>\n                <li><strong>Experiential Learning:</strong> National competitions & equity pitches</li>\n                <li><strong>100% Online Option:</strong> Complete degree fully online</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">3</span>\n                <div class=\"stat-label\">Specializations</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$200K+</span>\n                <div class=\"stat-label\">Scholarships</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>Careers:</strong> Commercial Banking, Investment Banking, Wealth Management, Insurance, Real Estate Appraisal</p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/finance/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - Finance Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 300
            }
          }
        },
        {
          "id": 15,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 300
            }
          }
        }
      ]
    },
    {
      "route_name": "International Business",
      "flow": [
        {
          "id": 8,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "International Business Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "International Business",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - International Business</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>International Business program</strong> with you.</p>\n        <div class=\"major-badge\">International Business</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose International Business at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>Global Perspective:</strong> Study complexities of world markets</li>\n                <li><strong>Interdisciplinary:</strong> Comprehensive business practices approach</li>\n                <li><strong>Strategic Options:</strong> Applicable across various industries</li>\n                <li><strong>Cultural Awareness:</strong> Develop cross-cultural competency</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$3,500</span>\n                <div class=\"stat-label\">Per Semester</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$200K+</span>\n                <div class=\"stat-label\">Scholarships</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>Global Careers:</strong> International Trade, Global Marketing, Import/Export, Multinational Corporations</p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/international-business/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - International Business Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 450
            }
          }
        },
        {
          "id": 16,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 450
            }
          }
        }
      ]
    },
    {
      "route_name": "Management",
      "flow": [
        {
          "id": 9,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "Management Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "Management",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - Management</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>Management program</strong> with you.</p>\n        <div class=\"major-badge\">Management</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose Management at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>4 Specializations:</strong> Entrepreneurship, General, HR, International</li>\n                <li><strong>Leadership Skills:</strong> Decision-making & strategic thinking</li>\n                <li><strong>Executive Networking:</strong> Connect with business leaders</li>\n                <li><strong>Real Experience:</strong> Internships & collaborative projects</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">4</span>\n                <div class=\"stat-label\">Specializations</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$200K+</span>\n                <div class=\"stat-label\">Scholarships</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>Careers:</strong> Entrepreneur, Consultant, HR Manager, General Manager, Project Manager</p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/management/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - Management Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 600
            }
          }
        },
        {
          "id": 17,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 600
            }
          }
        }
      ]
    },
    {
      "route_name": "Marketing",
      "flow": [
        {
          "id": 10,
          "module": "email:ActionSendEmail",
          "version": 7,
          "parameters": {
            "account": 1234567,
            "saveAfterSent": false
          },
          "filter": {
            "name": "Marketing Major",
            "conditions": [
              [
                {
                  "a": "{{1.`3`}}",
                  "b": "Marketing",
                  "o": "text:contains"
                }
              ]
            ]
          },
          "mapper": {
            "cc": [],
            "to": ["{{1.`2`}}"],
            "bcc": [],
            "from": "",
            "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>UALR School of Business - Marketing</title>\n<style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333333; background-color: #eeeeee; }\n    .container { max-width: 600px; margin: 20px auto; background: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n    .header { background: #6e2639; padding: 25px; text-align: center; }\n    .logo { font-size: 26px; font-weight: 700; color: #ffffff; letter-spacing: 1px; }\n    .logo-subtitle { color: #ffbf00; font-size: 13px; margin-top: 5px; letter-spacing: 1.5px; }\n    .content { padding: 35px 30px; }\n    .greeting { font-size: 22px; color: #6e2639; margin-bottom: 15px; font-weight: 600; }\n    .intro-text { color: #333333; margin-bottom: 25px; line-height: 1.7; }\n    .major-badge { background: #6e2639; color: #ffbf00; padding: 8px 20px; border-radius: 20px; display: inline-block; font-size: 14px; font-weight: 600; margin-bottom: 20px; }\n    .highlight-section { background: #ffe579; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .highlight-section h3 { color: #6e2639; font-size: 18px; margin-bottom: 15px; }\n    .feature-list { list-style: none; padding: 0; }\n    .feature-list li { padding: 8px 0 8px 25px; position: relative; color: #333333; font-size: 15px; }\n    .feature-list li:before { content: \"✓\"; position: absolute; left: 0; color: #6e2639; font-weight: bold; font-size: 16px; }\n    .stats-row { display: table; width: 100%; margin: 25px 0; border-radius: 8px; overflow: hidden; }\n    .stat-box { display: table-cell; width: 33.33%; padding: 20px 10px; text-align: center; background: #eeeeee; border-right: 2px solid #ffffff; }\n    .stat-box:last-child { border-right: none; }\n    .stat-number { font-size: 22px; font-weight: 700; color: #6e2639; display: block; margin-bottom: 5px; }\n    .stat-label { font-size: 11px; color: #333333; text-transform: uppercase; letter-spacing: 0.5px; }\n    .cta-button { display: inline-block; background: #ffbf00; color: #6e2639; padding: 14px 35px; text-decoration: none; font-weight: 700; font-size: 15px; border-radius: 25px; margin: 20px 0; text-transform: uppercase; letter-spacing: 1px; }\n    .footer { background: #eeeeee; padding: 25px; text-align: center; border-top: 3px solid #6e2639; }\n    .footer-text { font-size: 13px; color: #333333; margin: 8px 0; }\n    .footer-text a { color: #6e2639; text-decoration: none; font-weight: 600; }\n    .divider { height: 2px; background: linear-gradient(to right, #6e2639, #ffbf00, #6e2639); margin: 25px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n    <div class=\"header\">\n        <div class=\"logo\">UA LITTLE ROCK</div>\n        <div class=\"logo-subtitle\">SCHOOL OF BUSINESS</div>\n    </div>\n    <div class=\"content\">\n        <div class=\"greeting\">Welcome, {{1.`1`}}!</div>\n        <p class=\"intro-text\">Thank you for your interest in the <strong>UA Little Rock School of Business</strong>. We're excited to share information about our <strong>Marketing program</strong> with you.</p>\n        <div class=\"major-badge\">Marketing</div>\n        <div class=\"highlight-section\">\n            <h3>Why Choose Marketing at UALR?</h3>\n            <ul class=\"feature-list\">\n                <li><strong>2 Specializations:</strong> Digital Marketing or Professional Sales</li>\n                <li><strong>AI-Powered Marketing:</strong> Learn cutting-edge AI tools</li>\n                <li><strong>Sales Mastery:</strong> Negotiation & relationship building</li>\n                <li><strong>Real Projects:</strong> Hands-on case studies & competitions</li>\n            </ul>\n        </div>\n        <div class=\"stats-row\">\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$3,500</span>\n                <div class=\"stat-label\">Per Semester</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">$200K+</span>\n                <div class=\"stat-label\">Scholarships</div>\n            </div>\n            <div class=\"stat-box\">\n                <span class=\"stat-number\">#32</span>\n                <div class=\"stat-label\">US Ranked</div>\n            </div>\n        </div>\n        <div class=\"divider\"></div>\n        <p class=\"intro-text\"><strong>Careers:</strong> Product Manager, Sales Manager, Digital Marketing Manager, Marketing Research Analyst</p>\n        <div style=\"text-align: center;\">\n            <a href=\"https://ualr.edu/business/academics/marketing/\" class=\"cta-button\" style=\"color: #6e2639 !important; text-decoration: none !important;\">Learn More</a>\n        </div>\n    </div>\n    <div class=\"footer\">\n        <p class=\"footer-text\"><strong>Questions?</strong> We're here to help!</p>\n        <p class=\"footer-text\">\n            <a href=\"mailto:business@ualr.edu\">business@ualr.edu</a> | (501) 569-3000\n        </p>\n        <p class=\"footer-text\">\n            <a href=\"https://ualr.edu/business/\">Visit Our Website</a> |\n            <a href=\"https://ualr.edu/admissions/\">Schedule a Visit</a>\n        </p>\n        <p style=\"font-size: 11px; color: #666; margin-top: 15px;\">© 2025 UA Little Rock. All rights reserved.</p>\n    </div>\n</div>\n</body>\n</html>",
            "sender": "",
            "headers": [],
            "replyTo": "",
            "subject": "UALR School of Business - Marketing Program",
            "priority": "normal",
            "inReplyTo": "",
            "references": [],
            "attachments": [],
            "contentType": "html"
          },
          "metadata": {
            "designer": {
              "x": 600,
              "y": 750
            }
          }
        },
        {
          "id": 18,
          "module": "google-sheets:updateRow",
          "version": 2,
          "parameters": {
            "__IMTCONN__": 1234567
          },
          "mapper": {
            "from": "drive",
            "mode": "select",
            "values": {
              "4": "Email Sent - {{now}}"
            },
            "sheetId": "Form Responses 1",
            "rowNumber": "{{1.`__ROW_NUMBER__`}}",
            "spreadsheetId": "/YOUR_SPREADSHEET_ID_HERE",
            "includesHeaders": true,
            "valueInputOption": "USER_ENTERED"
          },
          "metadata": {
            "designer": {
              "x": 900,
              "y": 750
            }
          }
        }
      ]
    }
  ],
  "instructions": "To add these routes to your blueprint:\n\n1. Open UALR_Prospective_Student_Email_Automation.blueprint.json in a text editor\n2. Find the router module (id: 2) with 'routes' array\n3. The routes array currently has 2 routes (Accounting and Business Analytics)\n4. Add these 6 additional route objects to the routes array\n5. Update all __IMTCONN__ values with your actual connection IDs\n6. Update all spreadsheetId values with your actual spreadsheet ID\n7. Save and re-import to Make.com\n\nNote: Each filter now uses 'text:contains' instead of 'text:equal' to support multiple major selections from checkboxes."
}
